
.dark-mode a.outline-pink,
.dark-mode a.build_buttons1 {
    border-color: #fff !important;
}

.dark-mode a.outline-pink:hover,
.dark-mode a.build_buttons1:hover {
    border-color: #dc4f72 !important;
    color: #fff !important
}

.dark-mode a:hover,
.dark-mode .news_items .news_item .news_info .btn-news,
.dark-mode .product_content nav .nav-link   {
    color: #dc4f72 !important
}

.dark-mode a,
.dark-mode h3,
.dark-mode h2{
    color: #fff !important
}

.dark-mode .banner__left h3,
.dark-mode .services__item h3,
.dark-mode .content__item a,
.dark-mode .testimonial h3,
.dark-mode .news_items .news_item .news_info h4 a,
.dark-mode .faq_content .faq_items ul li h2,
.dark-mode .header_content .navbar-nav .nav-item .dropdown-item,
.dark-mode .product_content nav .nav-link.active  {
    color: black !important;
}

.dark-mode header,
.dark-mode .navbar,
.dark-mode section {
    background-color: black !important;
}

.dark-mode section.about,
.dark-mode section.faq,
.dark-mode footer {
    background-color: #171717 !important;
}