* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    position: relative;
    transition: 0.5s;
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p,
ul {
    padding: 0;
    margin: 0;
}

.header {
    color: #dc4f72;
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}

.theme-btn {
    line-height: 52px;
    padding: 0 30px;
    font-weight: 700;
    font-size: 14px;
    outline: none;
}

.outline-pink {
    border-color: #dc4f72;
    color: #dc4f72;
}

.btn-outline-primary.outline-pink:hover {
    background-color: #dc4f72;
    border-color: #dc4f72;
    color: #fff;
}

.pink {
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary.pink:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}

.white {
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.container {
    max-width: 100%;
    padding: 0 25px;
}

.title {
    max-width: 750px;
}

.title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.title h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.title p {
    color: #5a5a5a;
}

.border-img {
    border-radius: 6px;
    transition: 0.5s;
}

.border-img:hover {
    transform: translateY(-0.5rem);
}

/* HEADER */
header {
    display: grid;
    height: 90px;
    transition: all 0.5s;
    align-items: center;
    transition: all 0.5s;
    background-color: #fff;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

header.nav-fixed {
    padding: 0;
    height: 70px;
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

header .navbar,
.services,
.stats,
.news,
.products,
.book,
.dropdown-menu,
.about,
.faq,
footer {
    transition: 0.5s;
}

header .header_content .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #dc4f72
}

.header_content .navbar-light .navbar-brand:focus,
.header_content .navbar-light .navbar-brand:hover {
    color: #dc4f72;
    opacity: 0.7;
}

header .header_content .navbar-nav .nav-item {
    padding: 0 15px;
    position: relative;
}

.header_content .navbar-nav .nav-item .nav-link {
    padding: 14px 0;
    color: #2C3038;
    transition: all 0.5s ease;
}

.header_content .navbar-nav .nav-item .dropdown-menu {
    padding: 1rem 0 0.5rem;
}

.header_content .navbar-nav .nav-item .dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: #2C3038;
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

.header_content .navbar-nav .nav-item .nav-link:hover,
.header_content .navbar-nav .nav-item.active .nav-link,
.header_content .navbar-nav .nav-item .dropdown-item:hover {
    color: #dc4f72;
    background-color: transparent;
}

.header_content .navbar-nav .nav-item .nav-link::before,
.navbar-nav .nav-item .dropdown-item::before {
    position: absolute;
    content: '';
    background-color: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all 0.5s;
}

.header_content .navbar-nav .nav-item .nav-link:hover::before,
.navbar-nav .nav-item .dropdown-item:hover::before {
    width: 20px;
}

.header_content .navbar-nav .nav-item .nav-link i {
    font-size: 10px;
    padding-left: 2px;
}

.header_content .navbar-nav .nav-item .nav-link.active {
    color: #dc4f72
}

.dropdown-toggle::after {
    display: none;
}

.header_content .navbar-toggler {
    border: none;
    padding: 0;
    transition: 0.5s;
}

.header_content .navbar-toggler i {
    color: #fff;
    line-height: 34px;
    width: 34px;
    height: 34px;
    background-color: #dc4f72;
    border-radius: 5px;
    display: inline-block;
}

.header_content .navbar-toggler.collapsed i.open {
    display: block;
}

.header_content .navbar-toggler i.open {
    display: none;
}

.header_content .navbar-toggler.collapsed i.close {
    display: none;
}

.header_content .navbar-toggler i.close {
    display: block;
}

/* BANNER */
.banner {
    margin-top: 90px;
}

.banner .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.banner__left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2C3038;
    font-weight: 700;

}

.banner__left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.banner__right img {
    transform: rotate(180deg);
}

/* SERVICES */
.services__title {
    max-width: 750px;
    margin: 0 auto;
}

.services__title h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.services__title h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.services__title p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin: 0 auto;
}

.services__item {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid #F7F9FC;
}

.services__item:hover {
    transition: 0.5s;
    background: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    border: 1px solid #eee;


}

.services__item a {
    background-color: transparent;
}

.services__item h3 {
    color: #2C3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.services__item p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

/* ABOUT */
.about {
    background: #F7F9FC;
    ;
}

.about__left h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    ;
    margin-bottom: 5px;
}

.about__left h2 {
    font-size: 35px;
    line-height: 40px;
    color: #2C3038;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.about__left p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
    margin-bottom: 3rem;
}

.about__left button {
    transition: all 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    background: #dc4f72;
    border: none;
}

.about__left button:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

/* start stats */
.stats {
    background-color: #f7f9fc;
}

.stats__item {
    background-color: white;
    border: 1px solid #eee;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: 0.3s ease;
}

.stats__item h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24.5px;
    color: #2c3038;
}

.stats__item span {
    font-size: 50px;
    color: #dc4f72;
    font-weight: 700;
}

.stats__item p {
    color: #5a5a5a;
}

.stats__item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.linewhite {
    width: 100%;
    height: 8px;
    background: white;
}

/* end stats */
/* start content */
.content {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
}

.middle__content {
    max-width: 550px;
}

.content__title {
    color: white;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
}

.content__item p {
    font-size: 16px;
    line-height: 24.5px;
    color: #eee;
}

.content__button {
    font-size: 14px;
    font-weight: 700;
    line-height: 52px;
    padding: 0 30px;
    transition: 0.3s ease-out;
}

.content__button:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

/* end content */

/* NEWS */
.news_content .news_items .news_item {
    border-radius: 6px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    transition: 0.5s;
}

.news_content .news_items .news_item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.news_items .news_item a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    position: relative;
}

.news_items .news_item img {
    max-width: 100%;
    display: block;
    filter: grayscale(1);
    transition: 0.5s;
}

.news_items .news_item:hover img {
    filter: grayscale(0);
}

.news_items .news_item p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 0px;
    background-color: #f55f8d;
}

.news_items .news_item .news_info {
    background-color: #fff;
    padding: 20px 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.news_items .news_item .news_info label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.news_items .news_item .news_info label.red {
    background-color: rgba(238, 97, 120, 0.2);
    color: #f55f8d;
}

.news_items .news_item .news_info label.green {
    background-color: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.news_items .news_item .news_info label.blue {
    background-color: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.news_items .news_item .news_info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: #2C3038;
    font-weight: 600;
    display: block;
    transition: 0.5s;
}

.news_items .news_item:hover .news_info h4 a {
    color: #f55f8d;
}

.news_items .news_item .news_info p {
    font-size: 16px;
    line-height: 24px;
    color: #5a5a5a;
    margin: 15px 0 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.news_items .news_item .news_info .btn-news {
    color: #f55f8d;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.news_items .news_item .news_info .btn-news i {
    vertical-align: middle;
    font-size: 12px;
    position: absolute;
    right: -15px;
    top: 6px;
    transition: 0.5s;
}

.news_items .news_item:hover .news_info .btn-news i {
    right: -18px;
}

/* FAQ */
.faq {
    background-color: var(--light-bg-color);
}

.faq .faq_img {
    position: sticky;
    top: 80px
}

.faq_content .faq_items ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.faq_content .faq_items ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #fff;
}

.faq_content .faq_items ul li input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 0;
    opacity: 0;
}

.faq_content .faq_items ul li i {
    position: absolute;
    right: 25px;
}

.faq_content .faq_items ul li h2 {
    font-size: 20px;
    color: #2C3038;
    line-height: 1;
    margin: 0;
}

.faq_content .faq_items ul li p {
    color: #5a5a5a;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    transition: all 0.3s ease-in-out;
}

.faq_content .faq_items ul li input[type=checkbox]:checked~p {
    max-height: 0;
    margin: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

/* PRODUCT  */
.product_content nav .nav-link {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    width: calc(100%/3);
    color: #4E5B61;
    border-bottom: 3px solid rgb(193, 193, 193);
    transition: 0.5s;
}

.product_content .nav-tabs .nav-link:focus,
.product_content .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid rgb(193, 193, 193);
}

.product_content .nav-tabs .nav-item.show .nav-link,
.product_content .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 3px solid #f55f8d;
    color: #f55f8d;
    transition: 0.5s;
}

.product_content .tab-content {
    margin: 20px 0;
    padding: 15px;
}

.product_content h3 {
    font-size: 30px;
    color: #2C3038;
    margin-bottom: 16px;
    line-height: 36px;
    font-weight: 700;
}

.product_content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    line-height: 24px;
}

/* start testimonial */
.testimonial {
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../img/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonial__header {
    max-width: 750px;
}

/* start build */
section.build {
    transition: 0.5s;
}

.build_header {
    max-width: 750px;
    margin: 0 auto;
}

.build_buttons .build_buttons1 {
    margin-right: 7.5px;
    border-color: #dc4f72;
    color: #dc4f72;
    transition: 0.3s;
}

.build_buttons .build_buttons1:hover {
    background-color: #dc4f72;
    color: white;
}

.build_buttons .build_buttons2 {
    margin-left: 7.5px;
    background: #dc4f72;
    color: white;
    transition: 0.3s;
}

.build_buttons .build_buttons2:hover {
    background-color: #d62f58;
}

.slider-info {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}

.circle {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    background: #f3f6f9;
}

.circle img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.message {
    position: relative;
}

.message p {
    font-size: 18px;
    line-height: 26px;
    color: #2c3038;
}

.message span {
    font-size: 35px;
    color: #2c3038;
    opacity: 0.2;
    position: absolute;
    top: -5px;
    left: -40px;
    right: 0;
}

.name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
}

.name p {
    font-size: 13px;
    color: #5a5a5a;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 30px 5px 5px 5px;
    display: block;
    border: none;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #dc4f72;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #dc4f72;
}

/* FOOTER */
footer {
    background: #F7F9FC;
}

.footer__top h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.footer__top li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

.footer__top li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}

.footer__top li a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

.footer__top .footer__form {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.footer__form h5 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer__form input {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}

.footer__form .col-3 {
    padding-left: 0;
}

.footer__form button {
    width: 80%;
    height: 100%;
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
}

.footer__form button:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.footer__form p {
    margin-top: 1rem;
    line-height: 22px;
    color: #2C3038;
    font-size: 16px;
}

.footer__bottom {
    border-top: 1px solid #eaeaea;
}

.footer__bottom p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.footer__bottom a {
    color: #2C3038;
}

.footer__bottom a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

.footer_logo li {
    display: inline-block;
    margin-right: 5px;
}

.footer_logo a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

button.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.backToTop.show {
    visibility: visible;
    opacity: 1;
}

button.btn-circle {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    border-radius: 50%;
    outline: none;
    border: none;
    z-index: 100;
    transition: 2s;
}

.btn-circle i {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 65px;
    border-radius: 50%;
    border: none;
    transition: 1s;
}

.btn-circle.dark-theme {
    transition: 1s;
}

.btn-circle:hover i {
    transform: scale(1.5);
}

.btn-circle .dark {
    display: block;
    background-color: black;
    color: white;
}

.btn-circle .light {
    display: none;
    color: black;
    background-color: yellow;
}

.btn-circle.dark-theme i.dark {
    display: block;
}

.btn-circle.dark-theme i.light {
    display: none;
}

.btn-circle i.light {
    display: block;
}

.btn-circle i.dark {
    display: none;
}


/* RESPONSIVE */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .stats .container {
        max-width: 1200px;
    }

    .content .container {
        max-width: 1200px;
    }

    .testimonial .container {
        max-width: 1200px;
    }

    .build .container {
        max-width: 1200px;
    }

}

@media screen and (max-width: 1080px) {
    .footer__form .col-9 {
        padding-right: 0;
    }
}

@media screen and (max-width: 991px) {

    /* HEADER */
    header {
        height: auto;
        padding: 15px 0;
    }

    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    header .navbar-nav {
        text-align: center;
    }

    .header_content .navbar-nav {
        margin: 0;
        padding: 20px 0;
    }

    .header_content .navbar-nav .nav-item .nav-link {
        padding: 8px 0
    }

    /* PRODUCT */
    .product_content .product_item h3 {
        margin-bottom: 14px;
        font-size: 26px;
        line-height: 33px;
    }

    /* About */
    .about__left {
        width: 100%;
    }

    .about__right {
        width: 100%;
        margin-top: 40px;
    }

    /* FOOTER */
    .footer__top .col-2 {
        width: 33%;
    }

    .footer__top .col-6 {
        width: 100%;
        margin-top: 30px;
    }

    .footer__bottom {
        text-align: center;
    }

    .footer__bottom .footer__rights {
        width: 100%;
    }

    .footer__bottom .footer_logo {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    .build_buttons1,
    .build_buttons2 {
        line-height: 44px;
        padding: 0 20px;
    }

    .content .middle__content a {
        margin-top: 40px;
        line-height: 44px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 800px) {
    .title h3 {
        font-size: 40px;
        line-height: 50px;
    }
}


@media screen and (max-width: 767px) {
    .theme-btn {
        padding: 0 20px;
        line-height: 44px
    }

    .footer__top .col-2 {
        width: 100%;
    }
    .build_header h3{
        font-size: 32px;
        line-height: 42px;

    }
    .content .middle__content a{
        margin-top: 30px;
    }
    .slider-info{
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding: 2rem 1rem;
       grid-template-columns: 1fr;
    }
    .testimonial__header h3{
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width: 667px) {
    .title h3 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .product_content .product_item h3 {
        font-size: 24px;
        line-height: 30px;
    }
}